certifi==2015.11.20.1
Flask==0.10.1
Flask-AutoIndex==0.6
flask-heroku==0.1.9
Flask-Silk==0.2
Flask-WTF==0.12
future==0.15.2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
beautifulsoup4==4.4.1
lxml==3.5.0
requests==2.9.1
